.container{
    display: flex;
    flex-direction:column ;
    background-color: #f7f7f7; 
    max-width: 400px;
    padding: 25px;
    width: 100%;
    margin: 100px auto;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

input{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 350px;
    margin: 10px auto;
    width: 100%;
    font-size: 15px;
}

h1{
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

button{
    background-color: #4caf50;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
}

button:hover{
    background-color: #4fd653;
    font-weight: 600;
    border-radius: 5px;
}


@media screen and (max-width: 470px) {
    .container{
        max-width: 250px;
    }
    
    input{
        max-width: 220px;
    }

    button{
        max-width: 200px;
    }
}

